.card{
  border: none !important;
  background: none !important;
}

.navbar-brand {
  font-size: 1.25rem;
}

.navbar-collapse {
  transition: all 0.3s ease-in-out;
}

.nav-link {
  font-weight: 500;
  color: #343a40 !important;
  text-decoration: none;
}

.nav-link:hover {
  color: #0d6efd !important;
}

form[role="search"] {
  gap: 0.5rem;
}

.navbar-nav {
  gap: 0.5rem;
}

.logout-btn {
  margin-top: -4.8% !important;
  margin-left: 90%;
}

@media (max-width: 3950px) {
  .logout-btn {
       margin-top: -45px !important;
  }
}

@media (max-width: 991.98px) {
  .navbar-collapse {
    flex-direction: column;
    align-items: flex-start;
  }
.logout-btn {
    margin-top: 1%;
  }

  

  .navbar-nav {
    flex-direction: column;
    width: 100%;
  }

  form[role="search"] {
    width: 100%;
  }

  form[role="search"] input {
    width: 100%;
  }

  form[role="search"] button {
    width: 100%;
    margin-top: 0.5rem;
  }
}

@media (max-width:868px) {
  .navbar-brand {
    margin-top: -28%;
    position: fixed;
  }

}

@media (min-width: 992px) {
  .navbar-collapse {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .navbar-nav {
    flex-direction: row;
    align-items: center;
  }

  form[role="search"] {
    flex-direction: row;
    align-items: center;
  }

  form[role="search"] input {
    width: auto;
  }

  form[role="search"] button {
    width: auto;
    margin-top: 0;
  }

}