/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.p-card{
    margin-left: 3%;
    margin-top: 3%;
}
.highcharts-background{
    display: none;
}
.highcharts-legend-box {
margin-right: 300% !important;
}
